# Voter Project

In [1]:
#imports
import json
import pandas as pd
import datetime as dt
import numpy as np

## "V" file

In [2]:
#open file
vfile = open('entire_state_v.lst')
vfile_lines = vfile.readlines()

In [3]:
#test
sample_vfile_line = (vfile_lines[0])
print(sample_vfile_line)

SCHOUWINK                          KAREN               M                      1959F04221999    1843      FAWNBROOKE                    RUN                  ALLEGAN                            MI49010                                                                                                                                                                                                                                                             2550011644038458000001 18570080  26   06   06              00001 NA N

In [4]:
sample_vfile_line = (vfile_lines[1])
print(sample_vfile_line)

IRVIN                              YVONNE              N                      1960F05121992   15744      PINEHURST                     ST                   DETROIT                            MI48238                                                                                                                                                                                                                                                             2000362739822200002384 01103007  03   14   05              00000 NA N

In [5]:
sample_vfile_line = (vfile_lines[2])
print(sample_vfile_line)

VANDERVERE                         STEWART             A                      1942M02271999    1951      20TH                          ST                   ALLEGAN                            MI49010                                                                                                                                                                                                                                                             2550011651038458000001 22980080  26   06   06              00001 NA N

In [6]:
#separate each line into a dictionary
vfile_rows = []
for line in vfile_lines[:5]:
    row = {}
    row['last'] = line[0:35].strip()
    row['first'] = line[35:55].strip()
    row['middle'] = line[55:75].strip()
    row['suffix'] = line[75:78].strip()
    row['birth_year'] = line[78:82].strip()
    row['gender'] = line[82:83].strip()
    row['reg_date'] = line[83:91].strip()
    row['house_number_character'] = line[91:92].strip()
    row['residence_street_number'] = line[92:99].strip()
    row['house_suffix'] = line[99:103].strip()
    row['predirection'] = line[103:105].strip()
    row['street_name'] = line[105:135].strip()
    row['street_type'] = line[135:141].strip()
    row['suffix_direction'] = line[141:143].strip()
    row['residence_extension'] = line[143:156].strip()
    row['city'] = line[156:191].strip()
    row['state'] = line[191:193].strip()
    row['zip'] = line[193:198].strip()
    row['mail_add_1'] = line[198:248].strip()
    row['mail_add_2'] = line[248:298].strip()
    row['mail_add_3'] = line[298:348].strip()
    row['mail_add_4'] = line[348:398].strip()
    row['mail_add_5'] = line[398:448].strip()
    row['voter_id'] = line[448:461].strip()
    row['county_code'] = line[461:463].strip()
    row['jurisdiction'] = line[463:468].strip()
    row['ward_precinct'] = line[468:474].strip()
    row['school_code'] = line[474:479].strip()
    row['state_house'] = line[479:484].strip()
    row['state_senate'] = line[484:489].strip()
    row['us_congress'] = line[489:494].strip()
    row['county_commissioner'] = line[494:499].strip()
    row['village_code'] = line[499:504].strip()
    row['village_precinct'] = line[504:510].strip()
    row['school_precinct'] = line[510:516].strip()
    row['permanent_absentee_ind'] = line[516:517].strip()
    row['status_type'] = line[517:519].strip()
    row['uocava_status'] = line[519:520].strip()
    
    vfile_rows.append(row)

In [7]:
vfiledf = pd.DataFrame(data = vfile_rows)

In [8]:
#convert date
vfiledf['reg_date'] = vfiledf['reg_date'].apply(lambda x: dt.datetime.strptime(x,'%m%d%Y'))

In [9]:
vfiledf = vfiledf[['first','middle','last','suffix','birth_year','gender',
                   'reg_date','house_number_character','residence_street_number',
                   'house_suffix','predirection','street_name','street_type','suffix_direction',
                   'residence_extension','city','state','zip','mail_add_1','mail_add_2','mail_add_3',
                   'mail_add_4','mail_add_5','voter_id','county_code','jurisdiction','ward_precinct',
                   'school_code','state_house','state_senate','us_congress','county_commissioner',
                   'village_code','village_precinct','school_precinct','permanent_absentee_ind',
                   'status_type','uocava_status']]

In [10]:
vfiledf.head()

,first,middle,last,suffix,birth_year,gender,reg_date,house_number_character,residence_street_number,house_suffix,...,state_house,state_senate,us_congress,county_commissioner,village_code,village_precinct,school_precinct,permanent_absentee_ind,status_type,uocava_status
0,KAREN,M,SCHOUWINK,,1959,F,1999-04-22,,1843,,...,080,26,06,06,,,00001,N,A,N
1,YVONNE,N,IRVIN,,1960,F,1992-05-12,,15744,,...,007,03,14,05,,,00000,N,A,N
2,STEWART,A,VANDERVERE,,1942,M,1999-02-27,,1951,,...,080,26,06,06,,,00001,N,A,N
3,MARGO,ANN,WRIGHT,,1939,F,1996-10-01,,1803,,...,080,26,06,06,,,00001,N,A,N
4,VIRGINIA,ANNE,SAMPSON,,1942,F,1999-12-10,,229,,...,104,37,01,01,,,00008,Y,A,N

In [11]:
vfiledf['suffix'][0]

''

In [82]:
vfiledf.replace(r'^\s*$', np.nan, regex=True, inplace = True)

In [83]:
vfiledf

,first,middle,last,suffix,birth_year,gender,reg_date,house_number_character,residence_street_number,house_suffix,...,state_house,state_senate,us_congress,county_commissioner,village_code,village_precinct,school_precinct,permanent_absentee_ind,status_type,uocava_status
0,KAREN,M,SCHOUWINK,NaN,1959,F,1999-04-22,NaN,1843,NaN,...,080,26,06,06,NaN,NaN,00001,N,A,N
1,YVONNE,N,IRVIN,NaN,1960,F,1992-05-12,NaN,15744,NaN,...,007,03,14,05,NaN,NaN,00000,N,A,N
2,STEWART,A,VANDERVERE,NaN,1942,M,1999-02-27,NaN,1951,NaN,...,080,26,06,06,NaN,NaN,00001,N,A,N
3,MARGO,ANN,WRIGHT,NaN,1939,F,1996-10-01,NaN,1803,NaN,...,080,26,06,06,NaN,NaN,00001,N,A,N
4,VIRGINIA,ANNE,SAMPSON,NaN,1942,F,1999-12-10,NaN,229,NaN,...,104,37,01,01,NaN,NaN,00008,Y,A,N

## "H" file

In [27]:
#open file
hfile = open('entire_state_h.lst')
hfile_lines = hfile.readlines()

In [28]:
#test
sample_line = (hfile_lines[0])
print(sample_line)

      4328181411250007620    102000073N

In [29]:
#separate each line into a dictionary
hfile_rows = []
for line in hfile_lines[:5]:
    row = {}
    row['voter_id'] = line[0:13]
    row['county_code'] = line[13:15]
    row['jurisdiction'] = line[15:20]
    row['school_code'] = line[20:25]
    row['election_code'] = line[25:38]
    row['absentee_voter_indicator'] = line[38:39]
    hfile_rows.append(row)

In [30]:
#create dataframe
hfiledf = pd.DataFrame(data = hfile_rows)
hfiledf

,absentee_voter_indicator,county_code,election_code,jurisdiction,school_code,voter_id
0,N,41,102000073,12500,07620,4328181
1,N,41,102000073,12500,07620,4327828
2,N,41,102000073,12500,07620,4327829
3,N,41,102000073,12500,07620,4328458
4,N,41,102000073,12500,07620,4369785
5,N,41,102000073,12500,07620,2240000210
6,N,41,102000073,12500,07620,2240000081
7,N,41,102000073,12500,07620,4327842
8,N,41,102000073,12500,07620,4369527
9,N,41,102000073,12500,07620,4327848
10,N,41,102000073,12500,07620,4328379
11,N,41,102000073,12500,07620,4327853
12,N,41,102000073,12500,07620,4369882
13,N,41,102000073,12500,07620,4369530
14,N,41,102000073,12500,07620,4369531
15,N,41,102000073,12500,07620,4327855
16,N,41,102000073,12500,07620,4328272
17,N,28,102000073,23800,33870,9077089
18,N,41,102000073,12500,07620,4328921
19,N,41,102000073,12500,07620,4328904

# Combine Files

In [35]:
df = pd.merge(hfiledf, vfiledf, on = ['voter_id'], how='outer')
df.head(100)

,absentee_voter_indicator,county_code,election_code,jurisdiction_x,school_code_x,voter_id,birth_year,city,country_code,county_commissioner,...,stree_name,street_type,suffix,suffix_direction,uocava_status,us_congress,village_code,village_precinct,ward_precinct,zip
0,N,41,102000073,12500,07620,4328181,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N,41,102000073,12500,07620,4327828,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N,41,102000073,12500,07620,4327829,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N,41,102000073,12500,07620,4328458,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N,41,102000073,12500,07620,4369785,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,N,41,102000073,12500,07620,2240000210,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,N,41,102000073,12500,07620,2240000081,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,N,41,102000073,12500,07620,4327842,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,N,41,102000073,12500,07620,4369527,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,N,41,102000073,12500,07620,4327848,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,N,41,102000073,12500,07620,4328379,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,N,41,102000073,12500,07620,4327853,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,N,41,102000073,12500,07620,4369882,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,N,41,102000073,12500,07620,4369530,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,N,41,102000073,12500,07620,4369531,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,N,41,102000073,12500,07620,4327855,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,N,41,102000073,12500,07620,4328272,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,N,28,102000073,23800,33870,9077089,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,N,41,102000073,12500,07620,4328921,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,N,41,102000073,12500,07620,4328904,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,2550011644,1959,ALLEGAN,03,06,...,FAWNBROOKE,RUN,,,N,06,,,00001,49010
21,NaN,NaN,NaN,NaN,NaN,2000362739,1960,DETROIT,82,05,...,PINEHURST,ST,,,N,14,,,02384,48238
22,NaN,NaN,NaN,NaN,NaN,2550011651,1942,ALLEGAN,03,06,...,20TH,ST,,,N,06,,,00001,49010
23,NaN,NaN,NaN,NaN,NaN,2550011652,1939,ALLEGAN,03,06,...,120TH,AVE,,,N,06,,,00001,49010
24,NaN,NaN,NaN,NaN,NaN,1635001046,1942,TRAVERSE CITY,28,01,...,WELLINGTON,ST,,,N,01,,,00008,49686
25,NaN,NaN,NaN,NaN,NaN,2000362740,1962,DETROIT,82,02,...,CASS,AVE,,,N,13,,,05152,48202
26,NaN,NaN,NaN,NaN,NaN,2825000808,1956,LINCOLN PARK,82,04,...,CLEOPHUS,PKWY,,,N,12,,,00012,48146
27,NaN,NaN,NaN,NaN,NaN,2825000809,1953,LINCOLN PARK,82,04,...,CLEOPHUS,PKWY,,,N,12,,,00012,48146
28,NaN,NaN,NaN,NaN,NaN,5051136,1966,NEW BALTIMORE,50,08,...,25 MILE,RD,,,N,10,,,00005,48047
29,NaN,NaN,NaN,NaN,NaN,2000362741,1989,DETROIT,82,06,...,OAKFIELD,ST,,,N,13,,,02290,48235
30,NaN,NaN,NaN,NaN,NaN,9228184,1974,RUDYARD,17,05,...,PLOEGSTRA,RD,,,N,01,,,00001,49780
31,NaN,NaN,NaN,NaN,NaN,2775000656,1981,FORT GRATIOT,74,02,...,LAKESHORE,RD,,,N,10,,,00001,48059
32,NaN,NaN,NaN,NaN,NaN,5051310,1965,NEW BALTIMORE,50,08,...,25 MILE,RD,,,N,10,,,00005,48047
33,NaN,NaN,NaN,NaN,NaN,8827204,1948,HESSEL,49,04,...,HILLCREST,LN,,,N,01,,,00001,49745
34,NaN,NaN,NaN,NaN,NaN,8827208,1946,CEDARVILLE,49,04,...,CORYELL,IS,,,N,01,,,00001,49719
35,NaN,NaN,NaN,NaN,NaN,5052731,1951,JACKSON,38,05,...,MARION,RD,,,N,07,,,00006,49201
36,NaN,NaN,NaN,NaN,NaN,5052733,1960,JACKSON,38,05,...,KIMMEL,RD,,,N,07,,,00006,49201
37,NaN,NaN,NaN,NaN,NaN,5052737,1963,JACKSON,38,05,...,RUTLEDGE,ST,,,N,07,,,00002,49203
38,NaN,NaN,NaN,NaN,NaN,5052741,1963,TAYLOR,82,14,...,POLK,ST,,,N,12,,,00022,48180
39,NaN,NaN,NaN,NaN,NaN,5052643,1962,JACKSON,38,05,...,LOCHMOOR,BLVD,,,N,07,,,00005,49201

## Map

In [56]:
import plotly as py

In [58]:
py.__version__

'2.2.3'

In [59]:
#plotly map